body {
  margin: 0;
}

#color {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: none transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#test {
  position: absolute;
  top: 0;
  left: 0;
}

.joypad {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-pad,
.right-pad {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ck {
	width : 220px;
	height : 220px;
  background-image: url(./cross-key.png);
  background-size: cover;
  user-select: none;
}

.button{
	width: 200px;
	height: 105px;
  margin: 10px;
}

#a {
  background-image: url(./A-button.png);
  user-select: none;
}
#b {
  background-image: url(./B-button.png);
  user-select: none;
}
