body {
  font-family: 'Raleway', sans-serif;
}

.ranking{
  background-color: #3B4647;
  color: #fffffc;
  font-size: 2em;
  padding: 1em;
}
.rankers {
  color: #fffffc;
}
.ranking-icon{
  font-size: 1.5em;
  text-align: center;
  margin: 20px;
}
.ranker-image{
  width: 35px;
  height: 35px;
  margin-right: 0.5em;
}
.ranker-score{
  height: 1.5em;
  background-color: #BEFFC7;
  border-radius: 2px;
  color: #3B4647;
  padding-left: 1em;
}

.first,
.second{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#stream {
  width: 100vw;
  height: 100vh;
}

#dummy {
  display: none;
}

.tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 2em;
  color: white;
  background-color: black;
  border-radius: 3px;
}

.icon {
  color: #38a1db;
  font-size: 2em;
  margin-left: 1em;
  cursor: pointer;
}

.icon.disabled {
  color: grey;
}

#attendee {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70px;
}
.attendee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	animation: bounce 0.5s ease-out;
	animation-fill-mode: forwards;
  margin: 10px;
}

@keyframes bounce {
  20%, 60%, 60%, 100% {
    transform: translateY(0px);
  }
  0% {
    transform: translateY(-200px);
  },
  40% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.attendee-character {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.reception {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}

.qr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qr {
  width: 400px;
  height: 400px;
}

.start {
  background-color: #EC6D71;
}
.find {
  background-color: #38a1db;
}
.start,
.find {
  font-size: 2em;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}
#start {
  display: none;
}
.start:disabled,
.find:disabled {
  background-color: grey;
  color: #ffffff;
  box-shadow: none;
  cursor: initial;
}
#countdown {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#countdown.activate {
  display: block;
}
.counts {
  width: 100%;
  height: 100%;
  position: relative;
}
#countdown.activate .count {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 50vh;
  transform: translate(-50%, -50%) scale(0);
	animation-fill-mode: forwards;
}
#countdown.activate .counts {
	animation: jiggle 0.2s infinite;
	animation-fill-mode: forwards;
}
#countdown.activate .count-3 {
  animation: countdown 1s linear;
  animation-delay: 0.5s;
}
#countdown.activate .count-2 {
  animation: countdown 1s linear;
  animation-delay: 1.5s;
}
#countdown.activate .count-1 {
  animation: countdown 1s linear;
  animation-delay: 2.5s;
}
#countdown.activate .count-go {
  animation: go 0.5s linear;
  animation-delay: 3.5s;
}
@keyframes jiggle {
  0% {
    transform: rotate(-3deg);
	}
	50% {
  	transform: rotate(3deg);
	}
}
@keyframes countdown {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes go {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
#winner {
  display: none;
}
#overlay {
  background-color: #000000;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#winner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#winner-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: none transparent transparent transparent;
  margin-bottom: 10px;
}
#winner-character {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
#winner-message,
#winner-score {
  font-size: 2em;
  color: #fffffe;
  margin: 20px;
}
