body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.reception {
  width: 100vw;
  height: 100vh;
  background-color: #fffffc;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}

.left-container{
  background-color: #3B4647;
  color: #fffffc;
  font-size: 2em;
  padding: 1em;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right-container {
  background-color: #3B4647;
  color: #fffffc;
  font-size: 1.25em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 250px;
  position: relative;
}

.config {
  line-height: 3em;
}

.rankers {
  color: #fffffc;
}
.ranking-icon{
  font-size: 1.5em;
  text-align: center;
  margin: 20px;
}
.ranker-ranking{
  width: 35px;
  height: 35px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ranker-ranking-1{
  font-size: 0;
  background-image: url(/images/ranking-1.png);
}
.ranker-ranking-2{
  font-size: 0;
  background-image: url(/images/ranking-2.png);
}
.ranker-ranking-3{
  font-size: 0;
  background-image: url(/images/ranking-3.png);
}
.ranker-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 0px 5px 0.5em;
}
.ranker-score{
  height: 1.5em;
  background-color: #BEFFC7;
  border-radius: 2px;
  color: #3B4647;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-items: center;
  width: max-content;
}

#ad {
  margin: 20px;
}

.first,
.second{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#stream {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#dummy {
  display: none;
}

#add-cpu {
  background-image: url(/images/add-cpu.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #38a1db;
}
#add-cpu.disabled{
  background-image: url(/images/add-cpu-disabled.png);
  border: 1px solid gray;
  cursor: default;
}

.tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 2em;
  color: white;
  background-color: black;
  border-radius: 3px;
}

.icon {
  color: #38a1db;
  font-size: 2em;
  cursor: pointer;
}

.icon.disabled {
  color: grey;
}

#attendee {
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 70px;
}
.attendee-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	animation: bounce 0.5s ease-out;
	animation-fill-mode: forwards;
  margin: 10px;
}

@keyframes bounce {
  20%, 60%, 60%, 100% {
    transform: translateY(0px);
  }
  0% {
    transform: translateY(-200px);
  },
  40% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-5px);
  }
}

.attendee-character {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.help {
  position: absolute;
  color: #38a1db;
  font-size: 25px;
  right: 10px;
  outline: none;
  border: none;
  background: none;
  top: 10px;
}

#share,
.overwrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overwrap {
  background-color: white;
  width: 1.5em;
  height: 1.5em;
}

.qr-container {
  position: relative;
}
.qr {
  width: 300px;
  height: 300px;
}

.start {
  background-color: #EC6D71;
}
.find {
  background-color: #38a1db;
}
.start,
.find {
  font-size: 2em;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}
#start {
  display: none;
}
.start:disabled,
.find:disabled {
  background-color: grey;
  color: #ffffff;
  box-shadow: none;
  cursor: initial;
}
#countdown {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#countdown.activate {
  display: block;
}
.counts {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#countdown.activate .count {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 50vh;
  transform: translate(-50%, -50%) scale(0);
	animation-fill-mode: forwards;
}
#countdown.activate .counts {
	animation: jiggle 0.2s infinite;
	animation-fill-mode: forwards;
}
#countdown.activate .count-3 {
  animation: countdown 1s linear;
  animation-delay: 0.5s;
}
#countdown.activate .count-2 {
  animation: countdown 1s linear;
  animation-delay: 1.5s;
}
#countdown.activate .count-1 {
  animation: countdown 1s linear;
  animation-delay: 2.5s;
}
#countdown.activate .count-go {
  animation: go 0.5s linear;
  animation-delay: 3.5s;
}
@keyframes jiggle {
  0% {
    transform: rotate(-3deg);
	}
	50% {
  	transform: rotate(3deg);
	}
}
@keyframes countdown {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes go {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
#winner {
  display: none;
}
.overlay {
  background-color: #000000;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#winner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#winner-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: none transparent transparent transparent;
  margin-bottom: 10px;
}
#winner-character {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
#winner-message,
#winner-score {
  font-size: 2em;
  color: #fffffe;
  margin: 20px;
}


#loading,
#logins,
#join,
#select-stage{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#join-icon,
#loading-animation {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  color: white;
  position: absolute;
}
#loading-animation {
  animation: loading 2s linear infinite;
  animation-fill-mode: forwards;
}
#authenticator {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-around;
  align-items: center;
  font-size: 10em;
  color: white;
  flex-direction: column;
}
#authenticator-message {
  font-size: 0.5em;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  },
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.joypad {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.left-pad,
.right-pad {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ck {
	width : 220px;
	height : 220px;
  background-image: url(/images/cross-key.png);
  background-size: cover;
  user-select: none;
}

.button{
	width: 100%;
  height: 100%;
  user-select: none;
  border-radius: 5px;
  color: white;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portable-mode .left-pad,
.portable-mode .right-pad {
  width: 30%;
  justify-content: space-around;
  margin: 10px;
}

.portable-mode #ck {
  width: 120px;
  height: 120px;
  opacity: 0.5;
}

.portable-mode.joypad {
  justify-content: space-between;
}

.portable-mode .button {
  height: 20%;
  opacity: 0.5;
}

#a {
  background: linear-gradient(135deg, #ff3019 0%,#cf0404 100%);
}
#b {
  background: linear-gradient(135deg, #499bea 0%,#207ce5 100%);
}
#c {
  background: linear-gradient(135deg, #f1e767 0%,#feb645 100%);
}

#a:before {
  content: 'A';
}
#b:before {
  content: 'B';
}
#c:before {
  content: 'C';
}

#select-stage {
  background-color: rgba(0, 0, 0, 0.75);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: center;
}

.stage {
  width: 240px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: 5px solid #38a1db;
  margin-left: -5px;
  margin-top: -5px;
}

.random {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}

.stage:hover{
  border-color: #EC6D71;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .left-container{
    display: none;
  }
  .right-container{
    display: none;
  }
  .reception{
    justify-content: center;
    align-items: center;
  }
  .qr-container {
    display: none;
  }
  #logins {
    display: block;
  }
  #join {
    display: block;
  }
  #find {
    display: none;
  }
  .stage {
    width: 120px;
    height: 75px;
  }
}
